:root{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  background-color: #DEF6E5;
  color: #263238;
  /* outline: 1px solid red; */
}

.loading-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navbar */
.navbar{
  margin: 1rem;
  border-bottom: 1px solid teal;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar > .logo-name > h1 > a{
  text-decoration: none;
}

.navbar > .pages{
  list-style-type: none;
}

.navbar > .pages > li {
  display: inline;
  margin-left: 2rem;
}

.navbar > .pages > li > a{
  text-decoration: none;
}

.navbar > .pages > li > a:hover{
  /* border-top: #263238; */
}

/* 404 - Error Page */
.container-404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* Home Page */
.home-container{
  /* border: 1px solid teal; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
}

.left-home{
  /* border: 1px solid teal; */
  height: 50rem;
  /* width: 50rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
  gap: 1rem;
}

.left-home > ul > li {
  list-style: square;
  margin-left: 3rem;
}

.about-me-button{
  border: 1px solid teal;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
}

.right-home{
  /* border: 1px solid teal; */
}

.about-me-main{
  margin: 2rem;
  display: flex;

}

.about-me-bio{
  text-align: justify;
  margin: 2rem 0;
}

.profile-image{
  width: 35rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  padding: 2rem;
  border: 1px solid teal;
  float: right;
  margin: 5rem 10rem;
  }

/* For Mobiles */
@media (max-width: 600px) {

  *{
    font-size: 1rem;
  }
  
  /* 404 - Page */
  .container-404 > img, .loading-container > img{
    /* border: 1px solid red; */
    /* height: 50rem; */
    width: 70vw;
  }
}